*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins', sans-serif ;
}
h1{
    color: red;
    display: none;

}
header{
    position: static;
    top: 0px;
    max-width: 100%;
    height: 65px;
    padding:     7px;
    background: black;
    border-radius: 0px;
}
header img{
    height: 50px;
    width: 50px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    padding: 0px;
    text-decoration: none;
    border-radius: 50%;
}
nav{
    float: right;
}
.clearfix{
    clear: both;
}
nav ul{
    margin: 0px;
    padding: 0px;
    display: flex;
}
nav ul li{
    list-style: none;
    
}
nav ul li a{
    display: block;
    margin: 4px 0px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;

}
nav ul li a.active,
nav ul li a:hover{
    background: #001effad;
    color: #fff;
    transition: 0.5s;
}
@media (max-width:1230px){
    .toggel{
        display: block;
        width: 40px;
        margin: 0px;
        background: #ccc;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #fe692e;
        height: 40px;
    }
    .toggel:before{
        content: '\f0c9' ;
        font-family: fontAwesome;
        line-height: 40px;
    }
    .toggel.active:before{
        content: '\f00d';
    }
    nav{
        display: none;
    }
    nav.active{
        display: block;
        width: 100%;

    }
    nav.active ul{
        display: block;
        background-color: crimson;
        text-align: center;
        border-radius: 20px;
        margin: 10px;
        
    }
    nav.active ul li{
        display: block;
        margin: 0px;
        align-items: center;
    }
}
@media(max-width:700px){
    h4{
        margin-bottom: 10px;
        font-weight: bold;
        margin-top: 10px;
        text-align: center;
    }
    h1{
        color: #fe692e;
        display: block;
        text-align: center;
        font-weight: bold;
        font-family:sans-serif;
    
    }
    P{
        overflow: hidden;

    }
    h2{
        padding: 0px;
        width: 100%;
        margin: 0px;
        font-weight: bold;
    }
    .sag1{
        margin-bottom: 50px;
    }
    .footer-top{
        margin-top: 50px;
    }
    .cardsi img{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        align-items: center;
    }
   
}

.carousel-inner img{
    width: 100%;
    height: 100%;
    padding: 10px;
}
h2{
    padding: 5px;
    width: 100%;
    font-weight: bold;
}
h4{
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
}
.row{
    box-sizing: border-box;
    overflow: hidden;
}
P{
    overflow: hidden;
}
.team-cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.cardsi{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardsi img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    align-items: center;
}
p{
    color: #999;
    line-height: 25px;
}
h2{
    color: #fff;

}
.footer-top{
    background-color: #111;
    padding: 60px 0px;

}
.sagment-one h3{
    font-family: Courgette;
    color: #fff;
    letter-spacing: 3px;
    margin: 5px 0;

}
.sagment-two h3{
    color: #fff;
    font-family: poppins;
    text-transform: uppercase;
}
.sagment-two h3:before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.sagment-two ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    
}
.sagment-two ul li{
    border-bottom: 1px solid rgba(255,255,255,0.3);
    line-height: 40px;
}
.sagment-two ul li a{
    color: #999;
    text-decoration: none;
    
}
.sagment-three h3{
    color: #fff;
    font-family: poppins;
    text-transform: uppercase;
}
 .sagment-three h3:before{
    content: '|';
    color: #c65039;
    padding-right: 10px;
}
.sagment-three a{
    background: #494848;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;

}

.sagment-three a i{
    font-size: 20px;
    color: #fff;
    padding: 10px 12px;
    
}
.sagment-four h3{
    color: #fff;
    font-family: poppins;
    text-transform: uppercase;   
}
.sagment-four h3:before{
           content: '|';
           color: #c65039;
           padding-right: 10px;
        }
.sagment-four form input[type=submit]{    
    background-color: #c35048;
    border: none;
    text-transform: uppercase;
}
.copright-text{
    text-align: center;

    background-color: #000;
    line-height: 75px;
}
